body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-left {
  font-size: 3.2em;
  margin-left: 2.5%;
  margin-top: 1.5%;
}

button[type="contact"] {
  margin-right: 2.5%;
  margin-top: 1.5%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-color: white;
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  padding: .4em;
}

button[type="contact"]:hover {
  box-shadow: 0 0 .5em .1em rgba(256, 256, 256, .5);
}

button[type="contact"]:focus {
  outline: none;
}

#contact-link-div {
  margin-right: 2.5%;
  margin-top: 1.5%;
}

#contact-link {
  margin-right: 2.5%;
  margin-top: 1.5%;
}

/*.image {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}*/

#opener {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url('images/me.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: 75% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-body {
  margin-top: 10.5em;
  margin-left: 6em;
  font-family: 'Poppins', sans-serif;
}

#welcome-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes onLoad {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes onLoadMore {
  from { margin-top: -1em; }
  to { margin-top: 0em; }
  from { opacity: 0; }
  to { opacity: 1; }
}

.welcome {
  font-size: 5.7em;
  animation-name: onLoad;
  animation-duration: 2s;
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: onLoadMore;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}

#more-text {
  font-size: 1.5em;
}

@keyframes downArrow {
  from { margin-top: 0; }
  to { margin-top: .5em; }
}

button[type="arrow"] {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  animation: downArrow 1s linear infinite;
}

button[type="arrow"]:focus {
  outline: none;
}

.block-header {
  background: black;
  height: 30%;
  box-sizing: border-box;
  padding: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  box-sizing: border-box;
  height: 85%;
  padding: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 3.5em;
}

#header-about {
  margin-bottom: .3em;
}

#videos {
  display: flex;
  justify-content: space-around;
}

.vid {
  margin-top: 2em;
}

#about {
  background: rgb(33,98,168);
  height: 105%;
}

.info {
  font-size: 1.5em;
}

#tennis-text {
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
  padding-top: 5em;
  padding-left: 2em;
}

#tennis {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('images/tennis.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-link-no-shadow {
  width: 17em;
  box-shadow: 0 .3em .5em .3em rgba(0, 0, 0, .3);
}

.img-link-tall {
  width: 17em;
}

.matchpage {
  margin-top: -.5em;
  margin-right: 1em;
  width: 13em;
  box-shadow: 0 .3em .5em .3em rgba(0, 0, 0, .3);
}

.library-booking {
  width: 35em;
  box-shadow: 0 .3em .5em .3em rgba(0, 0, 0, .3);
}

.rtc {
  width: 20em;
  box-shadow: 0 .3em .5em .3em rgba(0, 0, 0, .3);
}

a {
  color: white;
}

a:visited {
  color: white;
}

.project-title {
  font-size: 3em;
  margin-top: 0em;
}

.project-info {
  font-size: 1.5em;
  width: 17em;
}

.teamworks {
  background: white;
  box-shadow: 0 .3em .5em .3em rgba(0, 0, 0, .3);
}

#project0 {
  background: rgb(161,199,56);
}

#project05 {
  background: rgb(0,197,177);
}

#project1 {
  background: rgb(248,69,91);
  height: 100%;
}

#project2 {
  background: rgb(250,141,40);
}

#project3 {
  background: rgb(253,118,145);
}

#project4 {
  background: rgb(255,175,56);
}

#view {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url('images/view.jpg');
  height: 70%;
  background-attachment: fixed;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#icon-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  margin: 1em;
}

.icon-link {
  color: white;
}

#contact {
  background: rgb(0,0,0);
  height: 40%;
}

#contact:focus {
  outline: 0;
  outline: none;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1240px) {
  #first-to-go {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  #rtc-go {
    display: none;
  }
  #rtc-stay {
    width: 33em;
  }
}

@media only screen and (max-width: 1177px) {
  iframe {
    height: 225px;
    width: 400px;
  }
  .teamworks {
    width: 30em;
  }
}

@media only screen and (max-width: 1140px) {
  .library-booking {
    width: 30em;
  }
  #rtc-stay {
    width: 30em;
  }
}

@media only screen and (max-width: 1040px) {
  .library-booking {
    width: 25em;
  }
  #rtc-stay {
    width: 25em;
  }
  .teamworks {
    width: 25em;
  }
}

@media only screen and (max-width: 970px) {
  #next-to-go {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .library-booking {
    width: 23em;
  }
  #rtc-stay {
    width: 23em;
  }
  .teamworks {
    width: 23em;
  }
  #welcome-body {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome {
    display: none;
  }
  #less-hidden {
    display: block;
    margin-top: 4.7em;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
  }
  #more-text {
    display: none;
  }
}

@media only screen and (max-width: 940px) {
  .project-info {
    font-size: 1.4em;
  }
  .project-title {
    font-size: 2.7em;
  }
  iframe {
    height: 200px;
    width: 355px;
  }
}

@media only screen and (max-width: 890px) {
  .library-booking {
    width: 20em;
  }
  #rtc-stay {
    width: 20em;
  }
  .teamworks {
    width: 20em;
  }
  .block {
    height: 80%;
  }
  #project1 {
    height: 90%;
  }
}

@media only screen and (max-width: 850px) {
  .project-info {
    width: 15em;
  }
  .project-title {
    font-size: 2.5em;
  }
  .info {
    font-size: 1.4em;
  }
  .header {
    font-size: 3.3em;
  }
}

@media only screen and (max-width: 820px) {
  #vid-go {
    display: none;
  }
  #tennis-text {
    font-size: 3.7em;
    padding-left: 0;
    padding-top: 3em;
  }
  #tennis-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media only screen and (max-width: 780px) {
  .project-info {
    font-size: 1.3em;
  }
  .project-title {
    font-size: 2.3em;
  }
  .info {
    font-size: 1.4em;
  }
  .header {
    font-size: 3.3em;
  }
}

@media only screen and (max-width: 750px) {
  .project-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #native-app {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #native-project-info {
    width: 15em;
  }
  #native-project-title {
    margin-top: 0;
    text-align: left;
  }
  .block {
    flex-direction: row;
  }
  .project-info {
    width: 100%;
  }
  .project-title {
    margin-top: 1em;
    text-align: center;
  }
  #rtc-logo {
    width: 11em;
  }
}

@media only screen and (max-width: 750px) {
  #rtc-stay {
    width: 18em;
  }
  .matchpage {
    width: 11em;
  }
}

@media only screen and (max-width: 680px) {
  #header-about {
    font-size: 2.8em;
  }
  .info {
    font-size: 1.3em;
  }
  #tennis-text {
    font-size: 3em;
  }
  .block-header {
    height: 25%;
  }
  .header {
    font-size: 2.9em;
  }
}

@media only screen and (max-width: 580px) {
  .block {
    height: 100%;
  }
  #project1 {
    height: 120%;
  }
  #native-app {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #native-project-title {
    text-align: center;
    margin-top: 1em;
  }
  #native-project-info {
    width: 100%;
  }
  .hidden {
    font-size: 2.5em;
    margin-top: 7em;
  }
}

@media only screen and (max-width: 510px) {
  #project1 {
    height: 140%;
  }
  #about {
    height: 120%;
  }
  #nav-left {
    display: none;
  }
  #contact-link-div {
    margin-top: 1em;
  }
  #nav-bar {
    justify-content: flex-end;
  }
  #less-hidden {
    display: none;
  }
  #even-more-hidden {
    display: block;
  }
}

/*@media only screen and (max-width: 420px) {
  .library-booking {
    width: 17em;
  }
  #rtc-stay {
    width: 17em;
  }
  .teamworks {
    width: 17em;
  }
  #header-about {
    font-size: 2.6em;
    margin-left: .2em;
  }
  .info {
    padding: .5em;
  }
  #tennis-text {
    font-size: 2.5em;
  }
  iframe {
    width: 310px;
    height: 174px;
  }
  #contact-link-div {
    width: 10em;
    margin-right: 1em;
  }
}*/

/*@media only screen and (max-width: 390px) {
  #about {
    height: 140%;
  }
  #nav-bar {
    width: 100%;
    justify-content: flex-end;
  }
}*/
